
    <div class="view">
        <div class="container pt-5">
            <form [formGroup]="form" (ngSubmit)="register()"class="form-horizontal" role="form">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 login-title">
                        <h2 class="display-3 text-center">Registrati</h2>
                      <hr>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="sr-only" for="email">Indirizzo mail</label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                                <input type="text" formControlName="email" class="form-control" id="username"
                                       placeholder="E-mail es: loveWeed@example.thc" required autofocus>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="sr-only" for="email">Nome</label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-at"></i></div>
                                <input type="text" formControlName="username" class="form-control" id="name"
                                       placeholder="Username es: Jerry Senna" required autofocus>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="sr-only" for="password">Password</label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                                <input type="password" formControlName="password" class="form-control" id="password"
                                       placeholder="Password" required>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label class="sr-only" for="password">Conferma Password</label>
                            <div class="input-group mb-2 mr-sm-2 mb-sm-0">
                                <div class="input-group-addon" style="width: 2.6rem"><i class="fa fa-key"></i></div>
                                <input type="password" formControlName="confirmPassword" class="form-control" id="ConfirmPassword"
                                       placeholder="Conferma Password" required>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div *ngIf="showAlert" class="alert alert-warning alert-dismissible fade show col-md-6 mx-auto" role="alert">
                    <button (click)="dismissAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                    <strong>{{message}}</strong>
                  </div>
                <div class="row" style="padding-top: 1rem">
                        <div class="col-md-2"></div>
                        <div class="col-md-6 mx-auto">
                            <button type="button" (click)="changeRoute('login')" class="btn btn-success mr-5"><i class="fa fa-sign-in"></i> Vai alla Login</button>
                            <button  [disabled]="!form.valid" type="submit" class="btn btn-outline-warning "><i class="fa fa-user-plus mr-1"  ></i>Registrati tossico!</button>
                       </div>
                    </div>
            </form>
        </div>
    </div>
